html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: flex;
}
#video {
    background: #222;
}
video {
    width: 100%;
}
#editor {
    display: flex;
    flex-direction: column;
}
.editor-toolbar {
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
}
.CodeMirror {
    height: 100%;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

[data-layout="umatela"] { flex-direction: row; }
[data-layout="umatela"][data-divisao="50_50"] #video  { width: 50%; }
[data-layout="umatela"][data-divisao="50_50"] #editor { width: 50%; }
[data-layout="umatela"][data-divisao="60_40"] #video  { width: 60%; }
[data-layout="umatela"][data-divisao="60_40"] #editor { width: 40%; }
[data-layout="umatela"][data-divisao="70_30"] #video  { width: 70%; }
[data-layout="umatela"][data-divisao="70_30"] #editor { width: 30%; }

[data-layout="duastelas"] #video { display: none; }
[data-layout="duastelas"] #editor { width: 100%; }

#image-editor {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background:#f0f0f0;

    display: none;
}

    #image-editor img {
        max-width: 100%;
        max-height: 100%;
    }

    #image-editor.show {
        display: block;
    }

/* cor diferente pra codigo inline */
.cm-formatting-code,
.cm-formatting-code ~ .cm-comment {
    background: none !important;
    color: #795da3 !important;
}

/* invisibles */
.CodeMirror-code > div > pre > span::after, .CodeMirror-line > span::after {
    display: none;
}
.cm-whitespace::before {
    color: #999 !important;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
 }

/* spell checker */
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word):not(.cm-attribute):not(.cm-string):not(.cm-keyword):not(.cm-number):not(.cm-def):not(.cm-property):not(.cm-variable-2):not(.cm-meta){ 
    background:rgba(255,0,0,.15)
}

/* tema */
.CodeMirror .CodeMirror-code .cm-comment {
    background: none;
}

.cm-string {
	color: #C41A16;
}
.cm-number {
	color: null;
}
.cm-keyword {
	color: #AA0D91;
}
.cm-atom {
	color: null;
}
.cm-variable {
	color: #000000;
}
.cm-def {
	font-style: italic;
}
.cm-comment {
	color: #007400;
}
.cm-variable-2 {
	color: #881280;
}
.cm-property {
	color: null;
}
.cm-operator {
	color: #AA0D91;
}