html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial;
    display: flex;
}
#video {
    background: #222;
}
video {
    width: 100%;
}
#editor {
    display: flex;
    flex-direction: column;
}
.editor-toolbar {
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
}
.CodeMirror {
    height: 100%;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

[data-layout="umatela"] {
    flex-direction: row;
}
[data-layout="umatela"] > * {
    width: 50%;
}

[data-layout="duastelas"] #video {
    display: none;
}
[data-layout="duastelas"] #editor {
    width: 100%;
}

/*
[data-layout="empilhado"] {
    flex-direction: column;
}
[data-layout="empilhado"] video {
    max-height: 40vh;
}
*/

#image-editor {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background:#f0f0f0;

    display: none;
}

    #image-editor img {
        max-width: 100%;
        max-height: 100%;
    }

    #image-editor.show {
        display: block;
    }

/* cor diferente pra codigo inline */
.cm-formatting-code,
.cm-formatting-code ~ .cm-comment {
    background: none !important;
    color: #795da3 !important;
}

/* invisibles */
.CodeMirror-code > div > pre > span::after, .CodeMirror-line > span::after {
    display: none;
}
.cm-whitespace::before {
    color: #999 !important;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
 }
